/* Font */
@font-face {
    font-family: "Modern DOS";
    src: url("/assets/ModernDOS8x16.woff2");
}

/* Page styling */
body {
    margin: 0px;
    padding: 10px;
    background: #000;
}

/* Global text styles */
* {
    color: #fff;
    font-size: 24px;
    font-family: "Modern DOS";
}
pre {
    margin: 0px;
    line-height: 30px;
}

/* Input line */
.feed {
    display: flex;
    align-items: center;
}
input {
    flex: 1;
    padding: 0px;
    border: none;
    outline: none;
    background: none;
}

/* Game canvas */
canvas {
    width: 512px;
    height: 480px;
    margin: 10px;
}
